--- 
import Layout  from '../layouts/Layout.astro';
---

<Layout>
    <section>
        <h1 class="text-green-400 text-xl font-bold">About</h1>
        <p class="mb-4">This is the about page.</p>
        <div class="bg-gray-100 p-5 rounded-lg flex flex-col">
            <p>It is a simple page that provides information about the website.</p>
            <p>It is built using Astro, a modern static site generator.</p>
            <p>Astro allows you to build fast, optimized websites using your favorite frameworks.</p>
        </div>
    </section>
</Layout>   