<nav class="bg-green-400 p-5 flex flex-row justify-between">
    <ul class="flex space-x-4 text-white">
        <li><a class="font-bold hover:text-gray-100" href="/">Home</a></li>
        <li><a class="font-bold hover:text-gray-100" href="/about">About</a></li>
        <li><a class="font-bold hover:text-gray-100" href="/contact">Contact</a></li>
        <li><a class="font-bold hover:text-gray-100" href="/markdown">Markdown</a></li>
        <li><a class="font-bold hover:text-gray-100" href="/readme">ReadMe</a></li>
        <li><a class="font-bold hover:text-gray-100" href="/fetch">Json Fetch</a></li>
        <li><a class="font-bold hover:text-gray-100" href="/blog/1">Blog</a></li>
        <li><a class="font-bold hover:text-gray-100" href="/authors/Author1/Book1">Libro</a></li>
        <li><a class="font-bold hover:text-gray-100" href="/posts">Posts</a></li>
    </ul>
</nav>