<nav class="bg-green-400 p-5 flex flex-row justify-between">
    <ul class="flex space-x-4 text-white">
        <li><a class="font-bold hover:text-gray-100" href="/">Home</a></li>
        <li><a class="font-bold hover:text-gray-100" href="/about">About</a></li>
        <li><a class="font-bold hover:text-gray-100" href="/contact">Contact</a></li>
        <li><a class="font-bold hover:text-gray-100" href="/readme">ReadMe</a></li>
    </ul>
</nav>